<div class="mb-3">
  <%= link_to new_channel_path, class: "btn btn-primary" do %>
    Create a channel
  <% end %>
</div>

<% if @channels.present? %>
  <nav class="nav flex-column">
    <% @channels.each do |channel| %>
      <%= link_to channel.name, channel_path(channel), class: "nav-link channel-nav-link" %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    The are no channels
  </div>
<% end %>